body {
  font-family: 'Verdana', 'Geneva', 'sans-serif';
}

hr {
  background-color: rgb(255, 102, 0);
  height: 1px;
  border: none;
}
.nav-link {
  color: #000000;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
}

.nav-link-brand {
  font-weight: bold;
  font-size: 1rem;
}

.article-brief-description {
  color: #828282;
  margin-left: 0.5rem;
  font-size: 0.5rem;
  text-decoration: none;
  display: block;
}
.link {
  text-decoration: none;
  color: #828282;
}

.link:hover {
  cursor: pointer;
}

.link:visited {
  color: #828282;
}

.article-header {
  color: #000000;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
}
.article-header:hover {
  cursor: pointer;
}

.article-number {
  text-align: right;
  font-size: 0.8rem;
  min-width: 1.5rem;
  color: #828282;
}

.org-filter {
  color: #828282;
  margin-left: 0.5rem;
  font-size: 0.5rem;
  text-decoration: none;
}
.pagination-link:hover {
  color: rgb(255, 102, 0);
}

td {
  text-align: start;
}

th {
  text-align: start;
}
.loading-icon {
  margin: 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.jobs-top-note {
  color: #828282;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
}

.footer-links-wrapper {
  color: #000000;
  margin-left: 0.5rem;
  font-size: 0.5rem;
  text-decoration: none;
  display: block;
}
.footer-links {
  color: #000000;
  text-decoration: none;
}

.footer-links:visited {
  color: #828282;
}

.footer-links:hover {
  color: #828282;
}
.comment-text {
  color: #000000;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  display: block;
}

.vote-icon {
  display: table-cell;
  vertical-align: initial;
}